<form class="example-form">
    <h1>Enter with your account</h1>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com">
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password">
      </mat-form-field>
      <button mat-button>Recorery Password</button>
      <button mat-raised-button color="primary">Login</button>
      <button mat-stroked-button color="primary">Register</button>

  </form>
  
